@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --font-display: "Satoshi", "sans-serif";
    --color-navbar: oklch(87.2% 0.01 258.338 / 0.975);
    --color-primary: #f07316;
    --color-secondary: #e4e4e4;
}

@layer components {
    .primary-button {
        @apply bg-primary text-white font-bold px-4 py-2 rounded-full;
    }
    .secondary-button {
        @apply bg-secondary text-white font-bold px-4 py-2 rounded-full;
    }
}

